<div class="container mt-5">
    <div class="row justify-content-center">
        <h1>FIND Viewer</h1>
    </div>
    <div class="row justify-content-center">
        <button type="button" class="btn btn-primary btn-lg mt-4" data-toggle="modal" id='uploadFile' data-target="#uploadModal">
            Upload Files
        </button>
    </div>
    <!-- Modal File Upload-->
    <div class="modal fade" id="uploadModal" tabindex="-1" aria-labelledby="uploadModalLabel" aria-hidden="true">
      <div class='spinner-overlay' id="file-load-spinner-overlay"></div>
      <div id='uploadModalDialog' class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="uploadModalLabel">Upload Files</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <!-- Navigation Bar inside the modal -->
          <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand">FMRI File Type</a>
            <ul class="nav nav-pills mb-3">
              <li class="nav-item">
                <a class="nav-link active" id="nifti-tab" data-toggle="pill" href="#nifti" role="tab" aria-controls="pills-home" aria-selected="true">Nifti</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="gifti-tab" data-toggle="pill" href="#gifti" role="tab" aria-controls="pills-profile" aria-selected="false">Gifti</a>
              </li>
            </ul>
          </nav>

          <!-- Unified Form for Both Tabs -->
          <form id="uploadForm" enctype="multipart/form-data">
            <div class="modal-body">
              <div class="d-flex justify-content-center">
                <div id='file-load-spinner' class="spinner-border spinner-viz" role="status">
                  <span class="sr-only">Loading...</span>
                </div>
              </div>
              <div class="tab-content" id="fileupload-content">
                <!-- Nifti Tab -->
                <div class="tab-pane fade show active" id="nifti" role="tabpanel" aria-labelledby="nifti-tab">
                  <div class='card'>
                    <div class="card-header">
                      <h5 class="card-title">FMRI Files</h5>
                    </div>
                    <div class='card-body'>
                      <div class='row justify-content-start'>
                        <div class="form-group ml-1">
                          <label for="nifti_file" class="text-secondary">Functional File (.nii, .nii.gz)</label>
                          <input type="file" class="form-control-file" id="nifti_file" name="nifti_file">
                        </div>
                      </div>
                      <div class='row justify-content-start'>
                        <div class="form-group ml-1">
                          <label for="anatomical_file" class="d-inline-block text-secondary">Anatomical File (.nii, .nii.gz, optional)</label>
                          <span class="fa-solid fa-circle-info d-inline-block toggle-immediate" data-toggle="tooltip" data-placement="top" title=" (Optional) The fMRI volumes must be aligned to the anatomical volume for correct overlay. Anatomical file should be the same resolution and field of view as fMRI volumes. Otherwise, one should be resampled to the other." aria-hidden="true"></span>
                          <input type="file" class="form-control-file" id="anatomical_file" name="anatomical_file">
                        </div>
                      </div>
                      <div class='row justify-content-start'>
                        <div class="form-group ml-1">
                          <label for="mask_file" class="d-inline-block text-secondary">Brain Mask File (.nii, .nii.gz, optional)</label>
                          <span class="fa-solid fa-circle-info d-inline-block toggle-immediate" data-toggle="tooltip" data-placement="top" title=" (Optional) Provide brain mask to mask voxel values not belonging to brain tissue. Mask values should be binary, with 1 for brain tissue and 0 for non-brain tissue. Mask should be the same resolution and field of view as fMRI volumes." aria-hidden="true"></span>
                          <input type="file" class="form-control-file" id="mask_file" name="mask_file">
                        </div>
                        <div class="alert alert-warning alert-dismissible fade show" role="alert">
                          <div class="fa fa-exclamation-triangle d-inline-block"></div>
                          <div class="d-inline-block">A brain mask is required for some features (e.g. filtering)</div>
                          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Gifti Tab -->
                <div class="tab-pane fade" id="gifti" role="tabpanel" aria-labelledby="gifti-tab">
                  <div class='card'>
                    <div class="card-header">
                      <h5 class="card-title">FMRI Files</h5>
                    </div>
                    <div class='card-body'>
                      <!-- Left Hemisphere files -->
                      <div class='row justify-content-start'>
                        <div class='col pl-0'>
                          <p class="pl-2 mt-0 mb-1"><strong>Left Hemisphere Files</strong></p>
                          <div class='row'>
                            <div class="form-group pl-4">
                              <label for="left_hemisphere_file" class="text-secondary">Functional File (func.gii)</label>
                              <input type="file" class="form-control-file" id="left_hemisphere_file" name="left_hemisphere_file">
                            </div>
                          </div>
                          <div class='row'>
                            <div class="form-group pl-4">
                              <label for="left_surface_mesh_file" class="text-secondary">Surface Geometry File (surf.gii)</label>
                              <span class="fa-solid fa-circle-info d-inline-block toggle-immediate" data-toggle="tooltip" data-placement="top" title="Surface mesh geometry file (surf.gii) for the left hemisphere. The mesh file is a 3D representation of the brain's outer surface." aria-hidden="true"></span>
                              <input type="file" class="form-control-file" id="left_surface_mesh_file" name="left_surface_mesh_file">
                            </div>
                          </div>
                        </div>
                      </div>
                      <!-- Right Hemisphere Files -->
                      <div class='row justify-content-start mt-3'>
                        <div class='col pl-0'>
                          <p class="pl-2 mt-0 mb-1"><strong>Right Hemisphere Files</strong></p>
                          <div class='row'>
                            <div class="form-group pl-4">
                              <label for="right_hemisphere_file" class="text-secondary">Functional File (func.gii)</label>
                              <input type="file" class="form-control-file" id="right_hemisphere_file" name="right_hemisphere_file">
                            </div>
                          </div>
                          <div class='row'>
                            <div class="form-group pl-4">
                              <label for="right_surface_mesh_file" class="text-secondary">Surface Geometry File (surf.gii)</label>
                              <span class="fa-solid fa-circle-info d-inline-block toggle-immediate" data-toggle="tooltip" data-placement="top" title="Surface mesh geometry file (surf.gii) for the right hemisphere. The mesh file is a 3D representation of the brain's outer surface." aria-hidden="true"></span>
                              <input type="file" class="form-control-file" id="right_surface_mesh_file" name="right_surface_mesh_file">
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class='card mt-2'>
                  <div class="card-header">
                    <h5 class="card-title d-inline-block">Time Course Files</h5>
                    <span class="fa-solid fa-circle-info d-inline-block toggle-immediate" data-toggle="tooltip" data-placement="top" title=" (Optional) time course files must be uploaded as .csv or .txt. Time courses must be aligned to (and have the same # of time points) as the fMRI file. Time courses must be arranged in one column." aria-hidden="true"></span>
                  </div>
                  <div class='card-body'>
                    <div class='row ml-1 justify-content-start'>
                      <div class="form-group">
                        <div id="time-series-container">
                        </div>
                      </div>
                    </div>
                    <div class='row ml-1 mb-3 justify-content-start'>
                      <button id='addTimeSeries' type="button" class="btn btn-secondary">Add Another File</button>
                    </div>
                  </div>
                </div>
                <div class='card mt-2'>
                  <div class="card-header">
                    <h5 class="card-title d-inline-block">Task Design File</h5>
                    <span class="fa-solid fa-circle-info d-inline-block toggle-immediate" id='tooltipTask' data-toggle="tooltip" data-placement="top" title=" (Optional) A task design file in .csv or .tsv format. The file must contain an 'onset' and 'duration' column. Optionally, for multiple event types, you can include an 'trial_type' column. Example: <br><br>
                    <img width=180 src='{{ url_for('static', filename='images/task_design_file.png') }}'/>
                    " aria-hidden="true"></span>
                  </div>
                  <div class='card-body'>
                    <div class='row ml-1 justify-content-start'>
                        <div class="col-6">
                          <span class="d-inline-block text-secondary">Task Design File (.csv, .tsv, optional)</span>
                          <input type="file" id ='task-design-file' class="form-control-file pt-2">
                        </div>
                        <div class="col-3">
                          <label for="task-design-tr">TR:</label>
                          <span class="fa fa-info-circle ml-1 toggle-immediate" data-toggle="tooltip" data-placement="top" title="The repitition time of the fmri data. This is needed for aligning the task events with the fmri data. " aria-hidden="true"></span>
                          <input type="number" class="form-control" id="task-design-tr" step="0.01">
                        </div>
                        <div class="col-3">
                          <label for="task-design-slicetime">Slicetime Ref:</label>
                          <span class="fa fa-info-circle ml-1 toggle-immediate" data-toggle="tooltip" data-placement="top" title="The time of the reference slice used in the fmri slice timing correction. It is expressed as a percentage of the TR (repetition time): 0 - 1. For example, if slicetiming was referenced to the slice at the middle of the fmri acquisition, it would be 0.5. Default is 0.5, which is commonly used in most preprocessing pipelines." aria-hidden="true"></span>
                          <input type="number" class="form-control" id="task-design-slicetime" step="0.01" min="0", max="1" value="0.5">
                        </div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Error Message Placeholder -->
              <div id="error-message" class="alert alert-danger" role='alert' style="display: none;"></div>
            </div>

            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary" id='submit-file' data-dismiss="static">Upload and Visualize</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>