<!-- FMRI Visualization Card -->
<div class='card'>
  <div class="card-header pt-1 pb-0">
    <div class='row'>
      <div class='col-3'>
        <div class='row'>
          <div class='col-10'>
            <h5 class="card-title" id='fmri-visualization-title'></h5>
          </div>
          <div class='col-2 pl-1 pr-1 pb-1 pt-0'>
            <div class="alert alert-info small p-2 m-0 text-center toggle-immediate" role="alert" id='preprocess-alert' data-toggle="tooltip" data-placement="top" title="Viewing preprocessed data" style="display: none;">
              <i class="fa-solid fa-p"></i>
            </div>
          </div>
        </div>
      </div>
      <div class='col mb-1'>
        <!-- Toggle slice montage or othoview -->
        <button class="btn btn-outline-secondary btn-sm toggle-wait" id='toggle-view' data-toggle="tooltip" data-placement="top" title="Toggle between ortho and slice montage views.">
          <i class="fa-solid fa-brain"></i>
        </button>
        <!-- Toggle crosshair for Nifti -->
        <button class="btn btn-outline-secondary btn-sm toggle-wait" id='toggle-crosshair' data-toggle="tooltip" data-placement="top" title="Toggle crosshair">
          <i class="fa-solid fa-plus"></i>
        </button>
        <!-- Toggle plotly hover text -->
        <button class="btn btn-outline-secondary btn-sm toggle-wait" id='toggle-hover' data-toggle="tooltip" data-placement="top" title="Toggle hover text">
          <i class="fa-solid fa-message"></i>
        </button>
        <!-- Toggle direction labels for Nifti -->
        <button class="btn btn-outline-secondary btn-sm toggle-wait" id='toggle-direction' data-toggle="tooltip" data-placement="top" title="Toggle direction labels">
          <i class="fa-solid fa-text-slash"></i>
        </button>
        <!-- Take screenshot of visualization container -->
        <button class="btn btn-outline-secondary btn-sm toggle-wait" id='select-screenshot' data-toggle="tooltip" data-placement="top" title="Take screenshot">
          <i class="fa-solid fa-image"></i>
        </button>
        <!-- Play movie -->
        <button class="btn btn-outline-secondary btn-sm toggle-wait" id='play-movie' data-toggle="tooltip" data-placement="top" title="Cycle through timepoints">
          <i class="fa-solid fa-play"></i>
        </button>
      </div>
      <div class='col-3'>
        <button id="montage-popover" title="Slice Montage Options" type="button" class="btn btn-outline-secondary btn-sm" data-container="body" data-toggle="popover" data-placement="top"
        data-content= "
          <div class='row'>
            <div class='col'>
              <div id='sliceSliders'>
                <div class='row'>
                    <span>Select Slice Direction</span>
                    <select id ='montage-slice-select' class='custom-select'>
                      <option value='x' selected>X (Saggital)</option>
                      <option value='y'>Y (Coronal) </option>
                      <option value='z'>Z (Axial)</option>
                    </select>
                </div>
                <div class='row mt-2'>
                  <label for='slice1Slider' class='mb-1'>Slice 1</label>
                  <input id='slice1Slider' type='text' class='slider' data-slider-responsive='true' />
                </div>
                <div class='row'>
                  <label for='slice2Slider' class='mb-1'>Slice 2</label>
                  <input id='slice2Slider' type='text' class='slider' data-slider-responsive='true' />
                </div>
                <div class='row'>
                  <label for='slice3Slider' class='mb-1'>Slice 3</label>
                  <input id='slice3Slider' type='text' class='slider' data-slider-responsive='true' />
                </div>
              </div>
            </div>
          </div>
        ">
          Montage
        </button>
      </div>
      <div class='col-3'>
        <div class="custom-control custom-switch">
          <input type="checkbox" class="custom-control-input" id="enable-time-course">
          <label class="custom-control-label" for="enable-time-course">Enable Time Course</label>
          <span class="fa-solid fa-circle-info toggle-immediate" data-toggle="tooltip" data-placement="top" title="Plot time course of selected voxel/vertex" aria-hidden="true"></span>
        </div>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class='row'>
      <div id="surface_container" class="mt-2 p-0" style="display: none; width: 100%; height: 100%;">
        <!-- JavaScript will dynamically create and insert left and right hemisphere visualizations here -->
      </div>
        <!-- Orthogonal Slices Container: X, Y, Z slices arranged horizontally -->
      <div id="slices_container" class="d-flex mt-2 p-0" style="display: none;">
      </div>
    </div>
  </div>
  <div class='card-footer'>
    <div class='row' id='slider-container'>
      <div class='col'>
        <div class='row'>
          <div class='col-sm-4'>
            <!-- Container for time slider -->
            <label for="time_slider" id='time-slider-title' style="font-weight: bolder;"></label>
          </div>
          <div class='col-sm-3 offset-sm-5'>
            <div class='row'>
              <div class='col-sm-5 p-1 text-center'>
                <div class='small'>World Coord:</div>
              </div>
              <div class='col-sm-7 pl-0 d-flex'>
                <div class="shadow-sm bg-light rounded small p-1 mr-1 w-25 d-inline" id='x-world'></div>
                <div class="shadow-sm bg-light rounded small p-1 mr-1 w-25 d-inline" id='y-world'></div>
                <div class="shadow-sm bg-light rounded small p-1 w-25 d-inline" id='z-world'></div>
              </div>
            </div>
          </div>
        </div>
        <div class='row justify-content-center pt-0'>
          <input id="time_slider" type="text" class="slider"/>
        </div>
      </div>
    </div>
  </div>
</div>