<!-- Time Course Visualization Card -->
<div class='card'>
  <div class='card-header pt-1 pb-1 pr-1'>
    <div class='row'>
      <div class='col-1 pl-1 pr-1 pb-1 pt-0'>
        <div class="alert alert-info small p-2 m-0 text-center toggle-immediate" role="alert" id='ts-preprocess-alert' data-toggle="tooltip" data-placement="top" title="Viewing preprocessed data" style="display: none;">
          <i class="fa-solid fa-p"></i>
        </div>
      </div>
      <div class='col-3 pr-1 pl-1'>
        <!-- Toggle time point line -->
        <button class="btn btn-outline-secondary btn-sm toggle-wait" id='toggle-time-marker' data-toggle="tooltip" data-placement="top" title="Toggle time point marker">
          <i class="fa-solid fa-location-pin"></i>
        </button>
        <!-- Toggle plot grid lines -->
        <button class="btn btn-outline-secondary btn-sm toggle-wait" id='toggle-grid' data-toggle="tooltip" data-placement="top" title="Toggle plot grid lines">
          <i class="fa-solid fa-border-all"></i>
        </button>
        <!-- Toggle time course hover -->
        <button class="btn btn-outline-secondary btn-sm toggle-wait" id='toggle-ts-hover' data-toggle="tooltip" data-placement="top" title="Toggle hover labels">
          <i class="fa-solid fa-message"></i>
        </button>
        <!-- Toggle task design convolution -->
        <button class="btn btn-outline-secondary btn-sm toggle-wait" id='toggle-convolution' data-toggle="tooltip" data-placement="top" title="Toggle convolution">
          <i class="fa-solid fa-wave-square"></i>
        </button>
        <!-- Increase task design scale -->
        <button class="btn btn-outline-secondary btn-sm toggle-wait" id='task-increase-scale' data-toggle="tooltip" data-placement="top" title="Increase task regressor scale">
          <i class="fa-solid fa-arrow-up"></i>
        </button>
        <!-- Decrease task design scale -->
        <button class="btn btn-outline-secondary btn-sm toggle-wait" id='task-decrease-scale' data-toggle="tooltip" data-placement="top" title="Decrease task regressor scale">
          <i class="fa-solid fa-arrow-down"></i>
        </button>
      </div>
      <div class='col-3 pr-1 pl-1'>
        <div class='row align-items-center'>
          <div class="custom-control custom-switch mr-2">
            <input type="checkbox" class="custom-control-input" id="enable-annotate">
            <label class="custom-control-label" for="enable-annotate">Annotate</label>
          </div>
          <!-- Move fmri left -->
          <button class="btn btn-outline-secondary btn-sm toggle-wait" id='left-move-annotate' data-toggle="tooltip" data-placement="top" title="move selected annotation to left" disabled>
            <i class="fa-solid fa-left-long"></i>
          </button>
          <!-- Move fmri right -->
          <button class="btn btn-outline-secondary btn-sm toggle-wait mr-2" id='right-move-annotate' data-toggle="tooltip" data-placement="top" title="move selected annotation to right" disabled>
            <i class="fa-solid fa-right-long"></i>
          </button>
          <!-- Toggle annotation selection highlight -->
          <button class="btn btn-outline-secondary btn-sm toggle-wait mr-2" id='highlight-annotate' data-toggle="tooltip" data-placement="top" title="toggle current annotation highlight" disabled>
            <i class="fa-solid fa-highlighter"></i>
          </button>
          <!-- Undo annotate -->
          <button class="btn btn-outline-secondary btn-sm toggle-wait" id='undo-annotate' data-toggle="tooltip" data-placement="top" title="Undo annotation" disabled>
            <i class="fa-solid fa-rotate-left"></i>
          </button>
          <!-- Remove all annotations -->
          <button class="btn btn-outline-secondary btn-sm toggle-wait" id='remove-annotate' data-toggle="tooltip" data-placement="top" title="Remove all annotations" disabled>
            <i class="fa-solid fa-xmark"></i>
          </button>
        </div>
      </div>
      <div class='col-2'>
        <button id="peak-finder-popover" title="Peak Finder" type="button" class="btn btn-outline-secondary btn-sm" data-container="body" data-toggle="popover" data-placement="top" disabled
        data-content= "
          <form id='peakFinderForm'>
            <div class='row mb-2'>
              <div class='col'>
                <h5>Select Time Course</h5>
                <div id='ts-peak-select-container'></div>
                </select>
              </div>
            </div>
            <div class='form-row mt-2'>
              <div class='form-group col-sm-4'>
                <label for='peak-height'>Height</label>
                <span class='fa-solid fa-circle-info ml-1 toggle-immediate' data-toggle='tooltip' data-placement='top' title='Required height of peaks (specified in the units of the timecourse).' aria-hidden='true'></span>
                <input type='number' class='form-control' id='peak-height' step='0.01'>
              </div>
              <div class='form-group col-sm-4'>
                <label for='peak-threshold'>Threshold</label>
                <span class='fa-solid fa-circle-info ml-1 toggle-immediate' data-toggle='tooltip' data-placement='top' title='Required threshold of peaks, the vertical distance to its neighboring samples.' aria-hidden='true'></span>
                <input type='number' class='form-control' id='peak-threshold' step='0.01'>
              </div>
              <div class='form-group col-sm-4'>
                <label for='peak-distance'>Distance</label>
                <span class='fa-solid fa-circle-info ml-1 toggle-immediate' data-toggle='tooltip' data-placement='top' title=' Required minimal horizontal distance (>= 1) in samples between neighbouring peaks. Smaller peaks are removed first until the condition is fulfilled for all remaining peaks.' aria-hidden='true'></span>
                <input type='number' class='form-control' id='peak-distance' step='0.01' min='1.0' value='1.0'>
              </div>
            </div>
            <div class='form-row'>
              <div class='form-group col-sm-4'>
                <label for='peak-prominence'>Prominence</label>
                <span class='fa-solid fa-circle-info ml-1 toggle-immediate' data-toggle='tooltip' data-placement='top' title='Required prominence of peaks. The prominence of a peak measures how much a peak stands out from the surrounding baseline of the signal and is defined as the vertical distance between the peak and its lowest contour line. In simpler terms, the prominence of a peak is the least drop in height necessary in order to get from that peak to any higher peak.' aria-hidden='true'></span>
                <input type='number' class='form-control' id='peak-prominence' step='0.01'>
              </div>
              <div class='form-group col-sm-4'>
                <label for='peak-width'>Width</label>
                <span class='fa-solid fa-circle-info ml-1 toggle-immediate' data-toggle='tooltip' data-placement='top' title='Required width of peaks in number of time points.' aria-hidden='true'></span>
                <input type='number' class='form-control' id='peak-width' step='0.01'>
              </div>
            </div>
            <button type='submit' class='btn btn-primary'>Compute</button>
          </form>
        ">
          Find Peaks
        </button>
      </div>
      <div class='col-3 pr-1 pl-1'>
        <!-- Average Modal Button -->
        <button type="button" class="btn btn-outline-primary btn-sm" data-toggle="modal" id='runAverageButton' data-target="#averageModal">
          Average
        </button>
        <!-- Correlation Modal Button -->
        <button type="button" class="btn btn-outline-primary btn-sm" data-toggle="modal" id='runCorrelationButton' data-target="#correlationModal">
          Correlate
      </button>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class='row'>
      <div class="time-course-plot" id="ts-plot"></div>
    </div>
  </div>
</div>
<!-- Correlation Analysis Panel-->
<div class="modal fade" id="correlationModal" tabindex="-1" aria-labelledby="correlationModalLabel" aria-hidden="true">
  <div class='spinner-overlay' id="correlate-spinner-overlay"></div>
  <div id='correlationModalDialog' class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="correlationModalLabel">Run Correlation</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form id="correlationForm" enctype="multipart/form-data">
        <div class="modal-body">
          <div id='correlate-spinner' class="spinner-border spinner-viz" role="status">
              <span class="sr-only">Correlating...</span>
          </div>
          <div class='row'>
            <div class='col ml-3 mr-3'>
              <div class='row'>
                <div class='col'>
                  <h5>Select Time Course</h5>
                  <select class="custom-select" id="ts-correlate-select">
                  </select>
                </div>
              </div>
              <div class='row mt-3'>
                <div class='col ml-3 mr-3'>
                  <div class='row'>
                    <h5>Cross-Correlation Parameters</h5>
                    <span class="fa-solid fa-circle-info ml-1 toggle-immediate" data-toggle="tooltip" data-placement="top" title="Perform cross-correlation with negative or positive lags of the selected time course. Correlation estimates from all lags within the interval [negative lag, positive lag] will be computed. Default is [0,0] (i.e. no lags)." aria-hidden="true"></span>
                  </div>
                  <div class='row'>
                    <div class='col-6'>
                      <label for="correlateNegativeLag">Negative Lag</label>
                      <span class="fa-solid fa-circle-info ml-1 toggle-immediate" data-toggle="tooltip" data-placement="top" title="Negative lags must be less than or equal to zero. (Default is zero, i.e. no lags)" aria-hidden="true"></span>
                      <!-- min is a placeholder and will be set by javascript -->
                      <input type="number" class="form-control" id="correlateNegativeLag" min="-100" max="0" step="1" value="0">
                    </div>
                    <div class='col-6'>
                      <label for="correlatePositiveLag">Positive Lag</label>
                      <span class="fa-solid fa-circle-info ml-1 toggle-immediate" data-toggle="tooltip" data-placement="top" title="Positive lags must be greater than or equal to zero. (Default is zero, i.e. no lags)" aria-hidden="true"></span>
                      <!-- max is a placeholder and will be set by javascript -->
                      <input type="number" class="form-control" id="correlatePositiveLag" min="0" max="100" step="1" value="0">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <div id="error-message-correlation" class="alert alert-danger" role='alert' style="display: none;"></div>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary" id='runCorrelation' data-dismiss="static">Compute</button>
      </div>
      </form>
    </div>
  </div>
</div>
<!-- Average Analysis Panel-->
<div class="modal fade" id="averageModal" tabindex="-1" aria-labelledby="averageModalLabel" aria-hidden="true">
  <div class='spinner-overlay' id="average-spinner-overlay"></div>
  <div id='correlationModalDialog' class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="averageModalLabel">Run Windowed Average</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form id="averageForm" enctype="multipart/form-data">
        <div class="modal-body">
          <div id='average-spinner' class="spinner-border spinner-viz" role="status">
              <span class="sr-only">Averaging...</span>
          </div>
          <div class='row'>
            <div class='col ml-3 mr-3'>
              <div class='row'>
                <div id="no-annotation-message-average" class="alert alert-danger" role='alert' style="display: none;">No timepoints are selected for averaging (select time points with annotation tool)</div>
              </div>
              <div class='row mt-3'>
                <div class='col ml-3 mr-3'>
                  <div class='row'>
                    <h5>Window Parameters</h5>
                    <span class="fa-solid fa-circle-info ml-1 toggle-immediate" data-toggle="tooltip" data-placement="top" title="Perform windowed averaging within the range specified by the left time point and the right time point" aria-hidden="true"></span>
                  </div>
                  <div class='row'>
                    <div class='col-6'>
                      <label for="averageLeftEdge">Left Edge</label>
                      <span class="fa-solid fa-circle-info ml-1 toggle-immediate" data-toggle="tooltip" data-placement="top" title="Specified in time points. Must be less than or equal to zero." aria-hidden="true"></span>
                      <!-- min is a placeholder and will be set by javascript -->
                      <input type="number" class="form-control" id="averageLeftEdge" min="-100" max="0" step="1" value="0">
                    </div>
                    <div class='col-6'>
                      <label for="averageRightEdge">Right Edge</label>
                      <span class="fa-solid fa-circle-info ml-1 toggle-immediate" data-toggle="tooltip" data-placement="top" title="Specified in time points. Must be greater than or equal to zero." aria-hidden="true"></span>
                      <!-- max is a placeholder and will be set by javascript -->
                      <input type="number" class="form-control" id="averageRightEdge" min="0" max="100" step="1" value="0">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <div id="error-message-average" class="alert alert-danger" role='alert' style="display: none;"></div>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary" id='runAverage' data-dismiss="static">Compute</button>
        </div>
      </form>
    </div>
  </div>
</div>
